.container {
	margin: 2.35em;
}

.page {
}

.heading {
	margin-bottom: 3.5em;
	display: flex;
	justify-content: space-between;
}

.heading h1 {
	font-size: 2.35rem;
	font-weight: 900;
}

.containerFiles {
	margin-top: var(--spacing-large);
}

.containerTypeSelect {
}

.search {
	width: 35%;
	padding: 0.65em 1.15em;
	border: var(--border-container);
	border-radius: var(--border-radius-large);
	background-color: var(--color-primary-100);
	color: var(--color-secondary-100);
}

.buttonPrimary {
	padding: 0.65em 2.15em;
	border: var(--border-container);
	border-color: var(--color-accent-100);
	border-radius: var(--border-radius-small);
	color: var(--color-accent-100);
	background-color: var(--color-accent-400);
	font-size: 1.15rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.typeSelect {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	color: var(--color-secondary-100);
	font-size: 1.65rem;
	/* font-weight: ; */
	cursor: pointer;
}

.typeSelectActive {
	color: var(--color-accent-100);
}

.files {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-large);
}

.file {
	padding: var(--spacing-large) 1.15em;
	display: flex;
	flex-direction: row;
	gap: 1.15em;
	justify-content: space-between;
	border: var(--border-container);
	border-radius: var(--border-radius-large);
	background-color: var(--color-primary-100);
	color: var(--color-secondary-100);
}

.file:hover {
	background-color: var(--color-primary-400);
}

.fileInfo p {
	margin-top: 0.35em;
	font-size: 0.85rem;
}

.fileInfoType {
	text-transform: capitalize;
}

.fileInfoWords {
}

.fileButtons {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-small);
}

.button {
	height: 100%;
	padding: 0.85em 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	border: var(--border-container);
	border-radius: var(--border-radius-small);
	color: var(--color-secondary-400);
	background-color: transparent;
	cursor: pointer;
}
