.containerMain {
   padding-bottom: 12.5em;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.containerPrompts {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-large);
}

.heading {
	margin-bottom: 3.5em;
	display: flex;
	gap: 18.5em;
	justify-content: space-between;
}

.prompt {
	border: var(--border-container);
	border-radius: var(--border-radius-large);
	background-color: var(--color-primary-400);
	position: relative;
}

.prompt:hover {
	background-color: var(--color-primary-100);
}

.promptToggle {
	padding: var(--spacing-large);
	cursor: pointer;
}

.prompt h2 {
	font-size: 1.35rem;
	user-select: none;
}

.prompt textarea {
	width: 100%;
	padding: 0 var(--spacing-large) var(--spacing-large) var(--spacing-large);
	box-sizing: border-box;
	font-size: 1.1rem;
	line-height: 1.5rem;
	color: var(--color-secondary-100);
	background-color: transparent;
	border: none;
	outline: none;
	display: flex;
	flex-wrap: wrap;
	font-family: "Lato", "Serif";
}
