.element {
	/* width: 3.85rem;
	height: 2.65rem; */
	padding: var(--spacing-small);
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 1rem;
	color: var(--color-secondary-100);
	background-color: transparent;
	border-radius: var(--border-radius-small);
	color: var(--color-secondary-100);
	cursor: pointer;
}

.element:hover::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: var(--border-radius-small);
	background-color: var(--color-primary-400);
	opacity: 0.8;
	z-index: -1;
}

.element:active {
	transform: scale(0.85);
}

.element svg {
	font-size: 1.35rem;
}

.element sub {
	margin-top: 12px;
	font-size: 0.65rem;
	color: var(--color-secondary-100);
}
