.element {
	padding: var(--spacing-small);
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 1rem;
	color: var(--color-secondary-100);
	background-color: transparent;
	border-radius: var(--border-radius-small);
	color: var(--color-secondary-100);
	cursor: pointer;
}

.element:hover::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: var(--border-radius-small);
	background-color: var(--color-primary-400);
	opacity: 0.8;
	z-index: -1;
}

.element:active {
	transform: scale(0.85);
}

.element:focus {
	outline: 2px solid white;
}

.element svg {
	font-size: 1.35rem;
}

.element sub {
	margin-top: 12px;
	font-size: 0.65rem;
	color: var(--color-secondary-100);
}

.primary {
	padding: 0 1.85em;
	background-color: transparent;
	border: none;
	font-size: 1.15rem;
	color: var(--color-accent-100);
	background-color: var(--color-accent-400);
	border-radius: var(--border-radius-small);
	border: 2px solid transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	transition-duration: 150ms;
}

.primary:hover {
	border-color: var(--color-accent-100);
	transform: scale(1.1);
	transition-property: transform, border-color;
}

.primary:active {
	transform: scale(0.95);
	transition: none !important;
}
