.container {
	width: 25em;
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	gap: 1.65em;
	border-radius: var(--border-radius-large);
	border: var(--border-container);
	background-color: var(--color-primary-100);
	backdrop-filter: blur(6px);
	box-sizing: border-box;
	position: relative;
}

.container button {
	padding: var(--spacing-small) 1.85em;
	font-size: 1rem;
	font-weight: 700;
}

.container button:hover {
	transform: scale(1.05);
}

.container button:active {
	transform: scale(0.95);
	transition: none !important;
}
