.container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.label {
	margin-bottom: var(--spacing-small);
}

.element {
	padding: var(--spacing-large);
	border-radius: var(--border-radius-large);
	border: var(--border-container);
	background-color: var(--color-primary-100);
	color: var(--color-secondary-100);
	backdrop-filter: blur(6px);
	box-sizing: border-box;
	position: relative;
	font-size: 1rem;
}

.element:focus {
	outline: 2px solid white;
}

.error {
	height: 1rem;
	margin-top: 0.35em;
	text-align: right;
	color: var(--color-error-100);
	/* font-weight: 700; */
	font-style: italic;
}
