.container {
	position: relative;
}

.element {
	max-width: var(--editor-width);
	margin: 0 auto;
	position: relative;
}

.containerToolbarLeft {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	inset: 0 calc(100% + var(--spacing-small)) 0 auto;
}

.buttonPrompt {
}
