:root {
	--color-accent-100: #ffb81e;
	--color-accent-400: #ffb81e15;
	--color-dark-100: #1b1c1d99;
	--color-dark-400: #0f0f0f;
	--color-light-100: #eff1f3;
	--color-light-400: #28292b;

	--color-primary-100: var(--color-dark-100);
	--color-primary-400: var(--color-dark-400);
	--color-secondary-100: var(--color-light-100);
	--color-secondary-400: var(--color-light-400);

	--color-success-100: #32a879;
	--color-error-100: #ec4b4b;
	--color-info-100: #4b9dec;

	--spacing-large: 0.85rem;
	--spacing-small: 0.65rem;

	--border-radius-large: 0.85em;
	--border-radius-small: 0.65em;
	--border-container: 2px solid var(--color-secondary-400);

	--editor-width: 65em;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	color: var(--color-secondary-100);
	background-color: var(--color-primary-400);
	font-family: "Lato", "Serif";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
}

:focus:not(:focus-visible) {
	outline: none !important;
}
