.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.page {
	max-width: 65em;
	width: 100%;
	min-height: 100%;
	padding: var(--spacing-large);
	/* background-color: red; */
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
}

.page h1 {
	font-size: 2.85rem;
}

.page h2 {
	font-size: 2rem;
}

.page p {
	font-size: 1.15rem;
}
