.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.page {
	max-width: 65em;
	width: 100%;
	min-height: 100%;
	padding: var(--spacing-large);
	/* background-color: red; */
	box-sizing: border-box;
}

.page::placeholder {
	color: var(--color-light-400);
}

.page:focus {
	outline: none;
}

.page h1 {
	font-size: 2.85rem;
	font-family: "Lora", "Serif";
}

.page p {
	font-size: 1.15rem;
	font-family: "Lora", "Serif";
}
