.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.message {
	margin-top: 1.85em;
}

/* Loading animation. */

.icon {
	--size: 50px;
	width: var(--size);
	height: var(--size);
	position: relative;
}

.icon span {
	--delay-offset: 0.08s;
	position: absolute;
	left: calc(50% - 0.13 * var(--size));
	top: calc(50% - 0.13 * var(--size));
	height: calc(0.26 * var(--size));
	width: calc(0.26 * var(--size));
	border: calc(0.05 * var(--size)) solid #ffffff;
	box-sizing: border-box;
	border-radius: 50%;
	animation-name: loader-segment;
	animation-fill-mode: backwards;
	animation-duration: calc(var(--delay-offset) * 16);
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.icon span:nth-child(1) {
	--transform-properties: translateX(calc(var(--size) / 2));
	animation-delay: 0s;
}

.icon span:nth-child(2) {
	--transform-properties: rotate(45deg) translateX(calc(var(--size) / 2));
	animation-delay: var(--delay-offset);
}

.icon span:nth-child(3) {
	--transform-properties: rotate(90deg) translateX(calc(var(--size) / 2));
	animation-delay: calc(var(--delay-offset) * 2);
}

.icon span:nth-child(4) {
	--transform-properties: rotate(135deg) translateX(calc(var(--size) / 2));
	animation-delay: calc(var(--delay-offset) * 3);
}

.icon span:nth-child(5) {
	--transform-properties: rotate(180deg) translateX(calc(var(--size) / 2));
	animation-delay: calc(var(--delay-offset) * 4);
}

.icon span:nth-child(6) {
	--transform-properties: rotate(225deg) translateX(calc(var(--size) / 2));
	animation-delay: calc(var(--delay-offset) * 5);
}

.icon span:nth-child(7) {
	--transform-properties: rotate(270deg) translateX(calc(var(--size) / 2));
	animation-delay: calc(var(--delay-offset) * 6);
}

.icon span:nth-child(8) {
	--transform-properties: rotate(315deg) translateX(calc(var(--size) / 2));
	animation-delay: calc(var(--delay-offset) * 7);
}

@keyframes loader-segment {
	0% {
		opacity: 0;
	}
	35% {
		transform: var(--transform-properties) scale(1);
		opacity: 1;
	}
	65% {
		transform: var(--transform-properties) scale(1);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
