.containerMain {
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.containerContent {
	width: var(--container-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.containerNav {
	width: var(--container-width);
	padding: var(--spacing-large);
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	gap: var(--spacing-large);
	position: fixed;
	bottom: 0;
	border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
	border: var(--border-container);
	border-bottom: none;
	background-color: var(--color-primary-100);
}

.account {
	margin: var(--buffer-vertical) 0;
	padding: var(--spacing-large);
	box-sizing: border-box;
	height: 3.15rem;
	display: flex;
	align-items: center;
	display: flex;
	gap: var(--spacing-small);
}

.account svg {
	font-size: 1.15rem;
}

.containerLinks {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-large);
}

.link {
	padding: var(--spacing-large);
	font-size: 1.12rem;
	color: var(--color-secondary-100);
	text-decoration: none;
	border-radius: var(--border-radius-small);
	display: flex;
	align-items: center;
	gap: var(--spacing-small);
}

.link svg {
	font-size: 1.25rem;
}

.selected {
	font-weight: 600;
	background-color: var(--color-primary-400);
}

.content {
	width: var(--content-width);
	background-color: var(--color-primary-400);
}
