.container {
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.page {
	max-width: var(--editor-width);
	width: 100%;
	min-height: 100vh;
	height: 100%;
	margin: calc(
			var(--header-height) + var(--spacing-small) + var(--spacing-large)
		)
		0;
	padding: var(--spacing-large);
	box-sizing: border-box !important;
	position: relative;
}

.page :first-child {
	margin-top: 0;
}

.page h1 {
	margin-bottom: 0;
	font-weight: 900;
	font-size: 3.15rem;
}

.page h2 {
	margin-top: 1.85em;
	margin-bottom: 0.65em;
	font-weight: 900;
	font-size: 2.15rem;
}

.page h3 {
	margin-bottom: 0;
	font-size: 1.65rem;
}

.page p {
	margin-top: 0.65rem;
	font-size: 1.15rem;
	line-height: 2.15rem;
}

.page strong {
	font-weight: 900;
}

.page img {
	max-width: 100%;
	max-height: 50em;
	margin: 0 auto;
	display: block;
	border-radius: var(--border-radius-large);
}

.page table {
	max-width: 100%;
	width: 100%;
	border-collapse: collapse;
}

.page th:first-child {
	font-weight: bold;
}

.page td,
.page th {
	width: 3.85em;
	padding: var(--spacing-large);
	border: 1px solid var(--color-secondary-100);
}

.page td p,
.page th p {
	margin: 0;
}
