.container {
	width: 100%;
	padding: var(--spacing-large) 0;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	background-color: var(--color-primary-400);
	background: linear-gradient(#0f0f0f00, var(--color-primary-400) 65%);
	z-index: 1;
}

.element {
	padding: var(--spacing-small);
	display: flex;
	align-items: center;
	background-color: var(--color-primary-100);
	border-radius: var(--border-radius-large);
	border: 2px solid var(--color-secondary-400);
	box-sizing: border-box;
	position: relative;
}

.element:not(:last-child) {
	margin-right: var(--spacing-large);
}

.button {
	width: 4.15em;
	height: 3em;
}

.button:not(:last-child) {
	margin-right: var(--spacing-small);
}
