.container {
	width: 100%;
	padding: var(--spacing-large) 0;
	display: flex;
	gap: var(--spacing-large);
	justify-content: center;
	position: fixed;
	bottom: 0;
	background-color: var(--color-primary-400);
	background: linear-gradient(
		#0f0f0f00,
		#0f0f0fa6 35%,
		var(--color-primary-400)
	);
	z-index: 1;
}

.element {
	padding: var(--spacing-small);
	display: flex;
	gap: var(--spacing-small);
	align-items: center;
	border-radius: var(--border-radius-large);
	border: 2px solid var(--color-secondary-400);
	backdrop-filter: blur(6px);
	box-sizing: border-box;
	position: relative;
}

.element::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: var(--border-radius-large);
	background-color: var(--color-primary-100);
	opacity: 0.6;
	z-index: -1;
}

/* Hacky fix for Z-index layering issue with sub menus.  */
.container {
	flex-direction: row-reverse;
}
