.container {
	display: flex;
	justify-content: center;
}

.elementFloating {
	padding: var(--spacing-small);
	display: flex;
	align-items: center;
	border-radius: var(--border-radius-large);
	border: var(--border-container);
	background-color: var(--color-primary-100);
	backdrop-filter: blur(6px);
	box-sizing: border-box;
	position: absolute;
	top: -85%;
}
