.container {
	width: fit-content;
	padding: var(--spacing-small);
	display: flex;
	align-items: center;
	border-radius: var(--border-radius-large);
	border: var(--border-container);
	background-color: var(--color-primary-100);
	backdrop-filter: blur(6px);
	box-sizing: border-box;
}

.container:not(:last-child) {
	margin-right: var(--spacing-large);
}

.element:not(:last-child) {
	margin-right: var(--spacing-small);
}
