.container {
	width: 100%;
	height: var(--header-height);
	padding: var(--spacing-small);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	background-color: var(--color-primary-400);
	background: linear-gradient(var(--color-primary-400), #0f0f0f00);
	z-index: 1;
}

.element {
	width: 100%;
	padding: 0.35rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: var(--border-radius-large);
	border: 2px solid var(--color-secondary-400);
	box-sizing: border-box;
	backdrop-filter: blur(6px);
	position: relative;
}

.element::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: var(--border-radius-large);
	background-color: var(--color-primary-100);
	opacity: 0.6;
	z-index: -1;
}

/* Return button */

.returnContainer {
	height: 100%;
	display: flex;
}

.returnButton svg {
	margin: 0 0.35em;
}

.returnInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: var(--spacing-small);
}

.returnInfoTitle {
	margin-bottom: 0.35em;
	font-weight: 700;
}

.returnInfoTime {
	font-size: 0.65rem;
}

/* Buttons */

.buttonContainer {
	height: 100%;
	display: flex;
}

.button {
	padding: 0 2.35em;
}

.button:not(:last-child) {
	margin-right: var(--spacing-large);
}

.buttonPrimary {
	background-color: var(--color-accent);
}
