name: Build Preview Environment

on:
   pull_request:
      branches:
         - staging
         - dev

jobs:
   build:
      runs-on: ubuntu-latest

      steps:
         - name: Checkout code
           uses: actions/checkout@v2

         - name: Install dependencies
           run: npm install

         - name: Build Next.js app
           run: npm run build
